<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="font-family: arial; margin: 0 auto; border-radius: 10px;
    background-color: ghostwhite; width: 50%; box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);">
        <h1 align="center">QT_Musical_App</h1>
        <h2 align="center" style="color: red;">Hey mardeastroyer</h2>
        <h3 align="center">Please verify your QT_Musical_App account.</h3>
        <p align="center">You can also enter this verification code:</p>
        <p style="text-align:center; background:#faf9fa;
        border:1px solid;border-style:solid;
        border-color:#dad8de;
        padding-bottom:5px;padding-left:5px;
        padding-right:5px;padding-top:5px">711350</p>
    </div>

</body>
</html>